 @import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Pushster&family=Raleway:ital,wght@1,500&display=swap');
 body{
   font-family: 'Pushster', cursive;
   background-color: #0F0000;
   color: white;
   font-size: 24px;
}

header{
  margin-top: 20px;
  background:url(poisson.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;

}

header h1{
  text-align: center;
  font-size: 77px;
  padding: 200px;
  color: #CBA6A6;
  text-shadow:0 0 10px #000000
}

button {
  font-family: 'Lora', serif;
  background-color: #FF5F5F;
  border-style: groove;
  border-color: white;
  transition-duration: 0.4s;
  border-radius: 5px;
  font-size: 24px;
}

button:hover {
  background-color: red;
  color: white;
  box-shadow: 7px 4px 4px white;
}

button:active {
  background-color: #571a1a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer{
  background-color: #2A0000;
  padding: 83px 230px;
}

footer .colonnes{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
